/* Mobile First */
body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #3B4045;
    color: #c9c5c5;
}

.container {
    display: grid;
    align-items: center;
    padding: 10px 15px;
    background-color: #333;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: center;
}
nav{
    display: grid;
}
.nav-list {
    display: none;
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-left: 10px;
}

.nav-list a {
    text-decoration: none;
        color: #f9f9f9;
}

.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    justify-self: end;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main-article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.main-article h2 {
    margin-top: 10px;
}

.main-article p {
    line-height: 1.6;
}

.secondary-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.secondary-news article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

    .ads {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ad {
    height: 180px; 
    width: 80%;
    text-align: center;
    border: 2px solid gray; 
    padding: 1rem;
    margin: 1rem 0;
    background-color: #4479AE;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.footer{
    border-top: 3px solid #333;
    background-color: #294A6A;
    padding-left: 10px;
    padding-bottom: 5px;
}
.footer p{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .container {
    display: grid;
    align-items: center;
    padding: 10px 15px;
    background-color: #333;
        color: #f9f9f9;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: center;
}
.nav{
    display: grid;
}
.nav-list {
    display: flex;
    justify-self: end;
    list-style: none;
    padding: 0;
}
.nav-list ul{
    display: flex;
}
    .hamburger {
        display: none;
    }

    .main-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .main-article {
        flex: 2;
        padding-right: 20px;
    }

    .main-article img {
        max-width: 100%;
        height: auto;
    }

    .secondary-news {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .secondary-news article img {
        max-width: 100%;
        height: auto;
    }
    .ads {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ad {
    height: 800px; 
    width: 160px;
}
 
}

@media (min-width: 600px) and (max-width: 1023px) {
    .ads:nth-of-type(2) {
        display: none;
    }
}
